{% extends 'default.html' %}
{% block content %}
    <h1>Microservice Details:</h1>
    <p>The service is currently running. You may send requests as follows:</p>
    <ul>
        <li>POST /login (the body must contain the name of a user).
            The body content must be of the json/application content-type.
        </li>
        <li>POST /logout (the body must contain the name of the user).
            The body content must be of the json/application content-type.
        </li>
        <li>GET request to /current</li>
    </ul>
{% endblock %}